IntWebServices/src/com/televisa/comer/integration/secman/email/SecmanDasEnviarCorreoSoap12HttpPort2.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xmlns.soin.tvsa.com/Secman/Servicios/SecmanDasComerAutenticar">
  <xs:complexType name="ProcessResponse">
    <xs:sequence>
      <xs:element name="Result" type="xs:string"/>
      <xs:element name="Error" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>